{% extends 'LMSUser/base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %} 
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}} 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %} 
{% endif %}
        <h1>Hello This is a Landing Page</h1>
        <div>
            <a href="{% url 'register_user' %}"> Register User </a>
        </div>
{% endblock content %}