<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light mx-5">
      <a class="navbar-brand" href="{% url 'home' %}"><h3>Loan Portal</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-dark" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-dark" href="{% url 'applyLoan' 0%}">Quick Apply</a>
          </li>
      </ul>
      <ul class="list-inline navbar-nav ml-auto"> 
          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link font-weight-bold text-dark" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link font-weight-bold text-dark" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
      </ul>
      </div>
    </nav>
</div>