{% extends 'LMSUser/base.html' %}

{% block content %}
<div class="shadow-lg float-right" style="padding: 10px; margin: 60px; width: 500px;">
    <h1>Registeration Form</h1>
    <br/>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="field">
                {{ form.first_name.errors }}
                <label for="id_first_name">First name: </label>
                    {{ form.first_name }}
            </div>
            <div class="field">
                {{ formDetails.middle_name.errors }}
                <label for="id_middle_name">Middle Name </label>
                {{ formDetails.middle_name }}
            </div>
            <div class="field">
                {{ form.last_name.errors }}
                <label for="id_last_name">Last name: </label>
                {{ form.last_name }}
            </div>
            <div class="field">
                {{ form.email.errors }}
                <label for="id_email">Email: </label>
                {{ form.email }}
            </div>
            <div class="field">
                {{ formDetails.phone.errors }}
                <label for="id_phone">Phone </label>
                {{ formDetails.phone }}
            </div>
            <div class="field">
                {{ form.username.errors }}
                <label for="id_username">Username: </label>
                {{ form.username }}
            </div>
            <div class="field">
                {{ form.password1.errors }}
                <label for="id_password1">Password: </label>
                {{ form.password1 }}
            </div>
            <div class="field">
                {{ form.password2.errors }}
                <label for="id_password2">Confirm Password: </label>
                {{ form.password2 }}
            </div>
            
            <br/><br/>
            <input type="submit" value="Register" class="btn btn-secondary">
        </form> 
        <br/>
    <div>
        Have an account? <a href="{% url 'login' %}"> Login </a>
        <br/>
        <br/>
    </div>
</div>
{% endblock content %}